<body>
    <div class="container-fluid">
        <div class="container">
            <i class="fa-solid fa-comment">
                    <a href="/chatForm" class="chatbutton">Chat</a>
                </i>
        </div>
    </div>
</body>