<body class="bg-dark">
    <div class="container-fluid ">
        <div class="container-fluid  bg-dark d-flex justify-content-center align-items-center p-3 contactUs">
            <form class="form-horizontal bg-light col-5 p-2 row queryForm ">
                <h1 class="heading text-dark text-center">Contact Us</h1>
                <div class="col-md-6">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control email" id="email" name="email">
                </div>
                <div class="col-md-6">
                    <label for="query" class="form-label">Query Message</label>
                    <input type="text" class="form-control query" id="query" name="query">
                </div>
                <div class="col-12">
                    <button class="btn btn-primary mt-2" type="submit">Submit Query</button>
                </div>
            </form>
        </div>

    </div>
</body>